<!-- Using ng-style directive to change the background to the image link on the data object we are getting from the controller
      Also, need to write a function that checks the url params and then loops over the data object in the service and then returns
      the object the matches the id being passed in the url params. This is done in the controller -->
<section class="booked-main-container" >
  {{vm.something}}

    <h1>Thanks for trusting us with your trip to <br>{{bookingVM.city}}</h1>

    <button ui-sref="packages"> VIEW MORE PACKAGES </button>
</section>
